@import "tailwindcss";

:root {
    --menubar-width: 50px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* line-height: 1.5; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply scheme-light-dark font-medium
        bg-[#ffeebb] text-[#213547]
        dark:bg-[#242424] dark:text-[#ffffffdd] not-sm:text-sm;
}

input, textarea {
    @apply border-2 rounded-lg dark:bg-[#908040];
}

@layer components {
    

    

    .menu-bar {
        @apply fixed z-100000 left-0 
        grid bg-green-300 dark:bg-green-700
        items-center justify-between;
    }
    
    @media (max-width: 768px) { /* mobile */
        :root {
            --menubar-height: 50px;
            --menubar-max-width: 50px;
        }
        .menu-bar {
            @apply bottom-0 w-screen h-(--menubar-height)
            grid-rows-1 grid-cols-2;
        }
        .menu-bar-section-1 {
            @apply left-0 mb-auto flex flex-row justify-start;
        }
        .menu-bar-section-2 {
            @apply right-0 mt-auto flex flex-row justify-end;
        }
    }
    @media (min-width: 769px) {
        :root {
            --menubar-height: 100%;
            --menubar-max-width: 200px;
        }
        .menu-bar {
            @apply top-0 h-screen w-(--menubar-width)
            grid-rows-2 grid-cols-1
            transition-all hover:w-(--menubar-max-width) duration-300 ease-in-out;
        }
        .menu-bar-section-1 {
            @apply top-0 mb-auto flex flex-col justify-start;
        }
        .menu-bar-section-2 {
            @apply bottom-0 mt-auto flex flex-col justify-end;
        }
    }
    .menu-bar-item-wrapper {
        --menubar-item-margin: 0.25rem;
        --menubar-item-width: calc(var(--menubar-width) - 2*var(--menubar-item-margin));
        --menubar-item-max-width: calc(var(--menubar-max-width) - 2*var(--menubar-item-margin));
        @apply m-(--menubar-item-margin) h-(--menubar-item-width) 
        items-center
        overflow-hidden 
        hover:bg-[#ffffff50]
        font-[cursive]
        border rounded-sm border-[#00000020] shadow-[#00000080] shadow-md;
    }
    .menu-bar-item {
        @apply 
        items-center content-center
        w-(--menubar-item-max-width) h-full
        flex-row
        flex
        justify-between
        hover:cursor-pointer;
    }
    .menu-bar-item-logo {
        @apply size-(--menubar-item-width) text-center items-center content-center;
    }
    .menu-bar-item-text {
        --menubar-item-text-padding: 1rem;
        --menubar-item-text-width: calc(var(--menubar-item-max-width) - var(--menubar-item-width));
        @apply w-(--menubar-item-text-width) text-center px-(--menubar-item-text-padding);
    }
    @media (max-width: 768px) { /* mobile */
        .content-wrapper {
            @apply left-0 absolute right-0 overflow-auto bottom-(--menubar-height) top-0 wrap-break-word;
        }
        .menu-bar-item-text {
            @apply hidden;
        }
    }
    @media (min-width: 769px) {
        .content-wrapper {
            @apply left-(--menubar-width) absolute right-0 overflow-auto bottom-0 top-0 wrap-break-word;
        }
    }
    .ok-colour {
        @apply bg-green-300 hover:bg-green-400
        dark:bg-green-700 dark:hover:bg-green-600;
    }
    .error-colour {
        @apply bg-red-400 hover:bg-red-500
        dark:bg-red-600 dark:hover:bg-red-500;
    }
    .info-colour {
        @apply bg-gray-300 hover:bg-gray-400
        dark:bg-gray-600 dark:hover:bg-gray-500;
    }
}

