@import "tailwindcss";

@layer components {
    .login-btn {
        @apply bg-[#4eeaf0] 
        rounded-md shadow-md w-full p-3 
        hover:cursor-pointer hover:scale-105 transform duration-300 ease-in-out;
    }

    .input {
        @apply w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition;
    }
}

