# GCP
GCP_PROJECT_ID=YOUR_GCP_PROJECT_ID

# Not needed if deployed with firebase
GCP_CREDENTIALS_JSON=YOUR_GCP_CREDENTIALS_JSON_STR

# where this application will be accessible
APP_ORIGIN=http://localhost:5000

# Database configurations (mongo or firestore)
DB_TYPE=mongo

# MONGO paramerters
MONGO_HOST=mongodb
MONGO_USERNAME=admin
MONGO_PASSWORD=YOUR_MONGO_DB_PASSWORD
MONGO_DATABASE=default
